
$light-blue: #ecf5fa;

.page{
	background: #faf5f5;
	color: #626262;
	min-width: 1200px;

	header{
		.menu,.search{
			display: none;
		}
	}

	nav.sub{
		background: #626262;
		ul{
			padding: 0;
			margin-bottom: 0;
			width: 100%;
			position:relative;

			li{
				list-style: none;
				display: inline-block;
				margin-right: 40px;
				a{
					font-size: 14px;
					padding: 12px 0;
					display: block;
					color: #dcdcdc;
					&:hover{
						color: #fff;
					}
				}
				&.active{
					a{
						color: #fff;
					}
				}
				&.underline{
					position: absolute;
					left: 0;
					border-bottom: 5px solid $font-peach;
					display: block;
					width: 6.58em;
					bottom: 0;
					transition: 0.35s ease-out 0s;
				}
				&:nth-child(1).active ~.underline{
					left:0;
					width: 6.58em;
					transition: 0.35s ease-out 0.25s;
				}
				&:nth-child(2).active ~.underline{
					left: calc(7em + 40px);
					width: 6.58em;
					transition: 0.35s ease-out 0.25s;
				}
				&:nth-child(3).active ~.underline{
					left: calc(14em + 40px * 2);
					width: 4.4em;
					transition: 0.35s ease-out 0.25s;
				}
				&:nth-child(4).active ~.underline{
					left: calc(18.8em + 40px * 3);
					width: 4.4em;
					transition: 0.35s ease-out 0.25s;
				}
				&:nth-child(5).active ~.underline{
					left: calc(23.5em + 40px * 4);
					width: 4.4em;
					transition: 0.35s ease-out 0.25s;
				}

				&:nth-child(1):hover ~.underline{
					left:0;
					width: 6.58em;
				}
				&:nth-child(2):hover ~.underline{
					left: calc(7em + 40px);
					width: 6.58em;
				}
				&:nth-child(3):hover ~.underline{
					left: calc(14em + 40px * 2);
					width: 4.4em;
				}
				&:nth-child(4):hover ~.underline{
					left: calc(18.8em + 40px * 3);
					width: 4.4em;
				}
				&:nth-child(5):hover ~.underline{
					left: calc(23.5em + 40px * 4);
					width: 4.4em;
				}
			}
		}
	}
	.side{
		width: 300px;
		display: block;
		float: left;
		margin: 0 25px 0 0;
		aside{
			padding: 25px 25px;
			background: #fff;
			&+aside{
				margin-top:25px;
				h3{
					margin: 0 0 16px;
					font-size: 16px;
					font-weight: normal;
					img{
						width: 18px;
						margin-right: 8px;
					}
				}
			}
			.item-index{
				position: relative;
				letter-spacing: 0.3em;
				overflow: hidden;
				&:before{
					position:absolute;
					border-bottom:1px dotted currentColor;
					content:'';
					width: 100%;
					bottom: 4px;
					transform: scale(2);
					opacity: 0.5;
				}
				span{
					padding: 0 0.3em;
					position: relative;
					background:#fff;
					&.count{
						float: right;
						color: $font-peach;
						&:before{
							content: attr(data-count);
						}
					}
				}
			}
			.progress-container{
				margin-top:20px;
			}
			.progress-bar{
				box-shadow: none;
				background-color: $font-peach;
			}
			.progress{
				display: inline-block;
				margin-bottom: 0;
				width: 180px;
				border-radius: 0;
				box-shadow: none;
				background-color: $light-blue;
			}
			.percent-text{
				display: inline-block;
				letter-spacing: 1px;
				span{
					display: block;
					&.numberic{
						font-size: 25px;
						font-family: 'Century Gothic';
						color: $font-peach;
						line-height: 0.7;
						font-weight: bold;
						letter-spacing: -1px;
						&:before{
							margin-right: 4px;
							font-size: 34px;
							content: attr(data-percent);
						}
					}
				}
				sub{
					font-size: 10px;
					bottom: auto;
					margin-left: 6px;
				}
			}

			hr{
				border-color: #e5e5e5;
				margin: 25px -25px;
			}
			.categories{
				padding: 0 0 0 20px;
				margin: 0;
				font-size: 14px;

				li{
					list-style: none;
					input{
						display: none;
						&:checked ~ i{
							opacity: 1;
						}
					}
					input[type=radio]:checked ~ i{
							opacity: 1;
					}
					label{
						font-weight: normal;
						cursor: pointer;
						width: 100%;
						position:relative;
						padding-left: 7px;
						&:before{
							top: 5px;
							left: -20px;
							content: '';
							position:absolute;
							border: 1px solid currentColor;
							border-radius: 50%;
							height: 1em;
							width: 1em;

						}
						i{
							background:$font-peach;
							opacity: 0;
							width: 8px;
							height: 8px;
							position: absolute;
							left: -17px;
							top: 8px;
							border-radius: 50%;
						}
					}
				}
			}
		}
		.couple-name{
			font-size: 18px;
			color: #626262;
			text-align: center;
			margin: 25px 0 0;

		}

		.shape{
			height: 22px;
			text-align: center;
			margin: 5px 0;
			img{
				height: 22px;
			}
		}
		.date{
			font-size: 16px;
			color: #7d7d7d;
			text-align: center;
			margin: 0 0 25px;
		}
		.days-last{
			background: url(../images/common/last-background.png);
			width: 251px;
			height: 103px;
			margin: 0 auto;
			position: relative;
			.count-down{
				font-size: 42.5px;
				position: absolute;
				color: #fff;
				right: 145px;
				top: 6px;
			}
		}

		.profile-picture{
			border-radius: 50%;
			overflow: hidden;
			img{
				border-radius: 50%;
			}
		}
	}
	.page-container{
		margin-top: 25px;
		margin-bottom: 65px;
		min-width: 1200px;
	}
	.page-content{
		width: 840px;
		float: left;
		background-color: #fff;
	}


	.new-item{
		border: 1px dashed #d4d6d9;
		padding: 7px;
		line-height: 1;
		background: #eff5ff;
		color: #898989;
	}
	.item-list{
		padding: 0;
		margin: 0;
		li{
			list-style: none;
		}
		.item {
			border: 1px solid #a0a0a0;
			border-radius: 2px;
			padding: 0 15px;
			font-size: 14px;
			margin-bottom: 25px;
			position: relative;
			.expend:checked{
				&~.item-row{
					padding: 20px 0;
					height: auto;
					opacity: inherit;
				}
				&~.item-row .edit{ 
					transform: rotateZ(45deg);
	    			border-color: $font-peach;
					background-color: $font-peach;
					svg{
						>*{
							fill: none;
							stroke: #fff;
						}
					}
				}
			}
		}
		label {
			margin:0; 
		}

		input[type=checkbox]{
			display: none;
			margin:0;

			&:checked ~ label .pick{
				border: 0;
				background: url(../images/pages/02/v.svg);

			}

			&:checked ~ span{
				color: #f4bbcf;
				position: relative;
				&:after{
					position: absolute;
					top:50%;
					left: 0;
					width: 100%;
					height: 0;
					border-bottom: 1px solid #f4bbcf;
					content:'';
				}
			}

		}
		.edit{ 
			display: inline-block;
			border-radius: 50%;
			width: 25px;
			height: 25px;
			overflow: hidden;
			border: 1px solid #898989;
			transition-duration: 0.45s;
			letter-spacing: -1em;
			label{
				display: inline-block;
    			width: 100%;
    			height: 100%;
    			cursor: pointer;
			}
			svg {
				>*{
					fill:none;
					stroke:#898989;
				}
			}
			&:hover{
    			border-color: $font-peach;
				background-color: $font-peach;
				svg{
					>*{
						fill: none;
						stroke: #fff;
					}
				}
			}
		}
		.remove{
			display: inline-block;
			border-radius: 50%;
			width: 25px;
			height: 25px;
			overflow: hidden;
			letter-spacing: -1em;
			svg{
				width: 16px;
				path,line{
					fill:none;
					stroke:#B5B5B5;
				}
			}
			&:hover{
				background-color: $font-peach;
				svg{
					path,line{
						fill:none;
						stroke:#fff;
					}
				}
			}
		}
		.pick{
			width:25px;
			height: 25px;
			// background: url(../images/pages/02/v.svg);
			display: inline-block;
			border: 1px solid currentColor;
			margin: 0;
			transition-duration: 0.45s;
		}
		.buttons{
			right: 13px;
			top: 13px;
			position:absolute;
			a{
				margin: 0 5px;
			}
		}
		.item-row{
			// height: 56px;
			padding: 20px 0;
			.item-title{
				margin-right:45px;
			}

			&+.item-row{
				height: 0;
				border-top: 1px solid currentColor;
				overflow: hidden;
				opacity: 0;
				padding: 0;
				transition-duration:0.45s;
			}
		}
		.radio-options{
			padding: 0;
			margin: 0;
			font-size: 14px;
			letter-spacing: 4em;
			line-height: 2em;
			display: inline-block;
			max-width: 600px;
			.pick{
				border: 0;
			}
			li{
				list-style: none;
				display: inline-block;
				letter-spacing: 1px;
				input{
					display: none;
					&:checked ~ i{
						opacity: 1;
					}
				}
				input[type=radio]:checked ~ i{
						opacity: 1;
				}
				label{
					font-weight: normal;
					cursor: pointer;
					width: 100%;
					position:relative;
					padding-left: 18px;
					&:before{
						top: 5px;
						left: 0;
						content: '';
						position:absolute;
						border: 1px solid currentColor;
						border-radius: 50%;
						height: 1em;
						width: 1em;

					}
					i{
						background:$font-peach;
						opacity: 0;
						width: 8px;
						height: 8px;
						position: absolute;
						left: 3px;
						top: 8px;
						border-radius: 50%;
					}
				}
			}
		}
	}
}