.page02{

	
	.background{
	}

	.page-content{
		padding:25px;
		h2{
			font-size: 18px;
			margin: 0 0 20px;
		}
		.peach{
			color: $font-peach;
			margin-top: 23px;
			margin-bottom: 20px;
			
		}
	}
}